<div class="ccc-manager">
  <section class="ccc-existing-channels">
    <h3>채널 목록</h3>
    {{#if channels.length}}
      <ul class="ccc-channel-list">
        {{#each channels}}
          <li data-channel-id="{{this.id}}" class="{{#if this.isEditing}}ccc-editing{{/if}}">
            <span class="ccc-channel-name">{{this.name}}</span>
            <span class="ccc-channel-count">참여자 {{this.participantIds.length}}명 (+GM)</span>
            <span class="ccc-channel-actions">
              <a data-action="editChannel" title="{{#if this.isEditing}}편집 취소(새 채널 만들기로){{else}}편집{{/if}}"><i class="fa-solid fa-pen"></i></a>
              <a data-action="deleteChannel" title="삭제"><i class="fa-solid fa-trash"></i></a>
            </span>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p class="ccc-empty-hint">아직 만들어진 채널이 없습니다.</p>
    {{/if}}
  </section>

  <hr>

  <form data-channel-form>
    <h3>{{formTitle}}</h3>
    <div class="form-group">
      <label>탭 이름</label>
      <input type="text" name="channelName" value="{{pendingName}}" placeholder="예: 파티 A" maxlength="30">
    </div>

    <div class="form-group ccc-select-all">
      <label>
        <input type="checkbox" data-action="toggleAllPlayers" {{#if allSelected}}checked{{/if}}>
        전체 선택 / 전체 해제
      </label>
    </div>

    <p class="ccc-hint">대화에 참가할 인원 (GM은 기본적으로 포함됩니다)</p>
    <div class="ccc-player-list">
      {{#each players}}
        <label class="ccc-player-item">
          <input type="checkbox" name="participant" value="{{this.id}}" {{#if this.checked}}checked{{/if}}>
          {{this.name}}
        </label>
      {{/each}}
      {{#unless players.length}}
        <p class="ccc-empty-hint">등록된 플레이어 유저가 없습니다.</p>
      {{/unless}}
    </div>

    <button type="submit" data-action="saveChannel"><i class="fa-solid fa-floppy-disk"></i> 저장</button>
  </form>
</div>
